<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mobil.yemeksepeti">
    <!-- Add Internet Permission -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- Add Read External Storage Permission -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/fooddelivery"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_fooddelivery_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.YemekSepeti"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".CustomerPaymentPageActivity"
            android:exported="false" />
        <activity
            android:name=".Customer.CustomerAddCartActivity"
            android:exported="false" />
        <activity
            android:name=".Customer.CustomerSearchActivity"
            android:exported="false" />
        <activity
            android:name=".Customer.CustomerCartActivity"
            android:exported="false" />
        <activity
            android:name=".Restaurant.RestaurantUpdateFoodActivity"
            android:exported="false" />
        <activity
            android:name=".Restaurant.RestaurantMainPageActivity"
            android:exported="false" />
        <activity
            android:name=".Customer.CustomerMainPageActivity"
            android:exported="false" />
        <activity
            android:name=".Customer.CustomerForgotPassword"
            android:exported="false" />
        <activity
            android:name=".Restaurant.RestaurantLogInActivity"
            android:exported="false" />
        <activity
            android:name=".Customer.CustomerSignUpActivity"
            android:exported="false" />
        <activity
            android:name=".Customer.CustomerLogInActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>